# Python
*.pyc
__pycache__/
.Python
venv/
env/

# Django
*.log
*.sqlite3
media/
static_collected/

# IDEs
.idea/
.vscode/

# Debugging/Temporary files
debug_docker_logs.txt
debug_logs.txt
commit_message.txt