<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Template de Produto</title>
</head>
<body>
    <h1>Criar Novo Template de Produto</h1>
    <a href="{% url 'listar_produtos_template' %}">Voltar para a Lista</a>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar Template de Produto</button>
    </form>
</body>
</html>