{% extends 'base.html' %}

{% block title %}Detalhes da Categoria - SysOrc{% endblock %}

{% block content %}
    <h1>Detalhes da Categoria</h1>

    <div class="card">
        <div class="card-header">
            {{ categoria.nome }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ categoria.nome }}</h5>
            <p class="card-text">{{ categoria.descricao }}</p>
            <a href="{% url 'listar_categorias' %}" class="btn btn-primary">Voltar para a Lista</a>
        </div>
    </div>
{% endblock %}
