<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Templates de Produtos</title>
</head>
<body>
    <h1>Lista de Templates de Produtos</h1>
    <a href="{% url 'criar_produto_template' %}">Criar Novo Template de Produto</a>
    <hr>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Buscar templates..." value="{{ query|default_if_none:'' }}">
        <button type="submit">Buscar</button>
    </form>
    <hr>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if produtos_template %}
        <ul>
            {% for produto_template in produtos_template %}
                <li>{{ produto_template.categoria.nome }} - {{ produto_template.nome }} - {{ produto_template.descricao }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum template de produto encontrado.</p>
    {% endif %}
</body>
</html>