<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Produtos</title>
</head>
<body>
    <h1>Gerenciar Produtos</h1>
    <p>Selecione uma das opções abaixo:</p>
    <ul>
        <li><a href="/">Voltar para a Home</a></li>
        <li><a href="{% url 'listar_categorias' %}">Listar Categorias</a></li>
        <li><a href="{% url 'listar_produtos_template' %}">Listar Templates de Produtos</a></li>
        
    </ul>
</body>
</html>